<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="css/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    {{#each productos}}
    <li class="producto">
      <h2>Producto: {{producto}}</h2>
      <!-- Aquí puedes mostrar otras propiedades del producto si lo deseas -->
      <!-- Por ejemplo: -->
      <p>price: {{price}}</p>
      <p>description: {{description}}</p>
      <p>category: {{category}}</p>
    </li>
    {{/each}}
  </ul>
  <button class="custom-button"><a href="/realtimeproducts">Crear Producto</a></button>
  <button class="custom-button"><a href="/chat">Ir al Chat</a></button>
</body>
</html>
