<html>
  <head>
    <title>Lista de Productos en Tiempo Real</title>
    <link rel="stylesheet" href="css/realTimeProducts.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="contenedor">

      <div class="agregar">
        <h2>Agregar Producto</h2>
        <div>
          <form>
            <label for="name">Producto:</label>
            <input type="text" id="name" required />

            <label for="price">Precio:</label>
            <input type="number" id="price" required />

            <label for="description">Descripción:</label>
            <input type="text" id="description" required />

            <label for="category">Category:</label>
            <input type="text" id="category" required />

            <label for="stock">Stock:</label>
            <input type="number" id="stock" required />

            {{!-- <label for="image">Subir Imagen</label>
            <input type="file" id="image" name="image" required /> --}}

          </form>
        </div>
            <button type="button" onclick="createProduct()">Agregar Producto</button>

      </div>

      <div class="eliminar">
        <h2>Eliminar Producto</h2>
        <form>
          <label for="productName">Nombre del Producto:</label>
          <input type="text" id="productName" required />
          <br />
          <button
            type="button"
            onclick="deleteProduct(document.getElementById('productName').value)"
          >
            Eliminar Producto
          </button>
        </form>
      </div>

      <div class="actualizar">
        <h2>Actualizar Producto</h2>
        <form>
          <label for="updateProductName">Nombre del Producto a Actualizar:</label>
          <input type="text" id="updateProductName" required />
          <label for="updateProductNewName">Nuevo Nombre:</label>
          <input type="text" id="updateProductNewName" required />
          <label for="updateProductPrice">Nuevo Precio:</label>
          <input type="number" id="updateProductPrice" required />
          <label for="updateProductDescription">Nueva Descripción:</label>
          <input type="text" id="updateProductDescription" required />
          <label for="updateProductCategory">Nueva Categoria:</label>
          <input type="text" id="updateProductCategory" required />
          <label for="updateProductStock">Stock:</label>
          <input type="number" id="updateProductStock" required />
          <button
            type="button"
            onclick="updateProduct()"
          >Actualizar</button></form>
      </div>

      <div class="titulo">
        <h2>Lista de Productos en Tiempo Real</h2>
        <ol>
          {{#each productos}}
            <li>{{name}}</li>
          {{/each}}

        </ol>
      </div>
      <button><a href="/products">Volver</a></button>
    </div>
    <script type="text/javascript" src="js/realTimeProducts.js"></script>
  </body>
</html>