<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/changePassword.css" />
    <title>Cambiar Contraseña</title>
  </head>
  <body>
    <div class="container">
      <form id="changePasswordForm" class="password-form">
        <h2>Cambiar tu Contraseña</h2>
        <input type="password" name="newPassword" placeholder="Nueva contraseña" />
        <button type="submit">Cambiar</button>
        <a href="/login">Volver</a>
      </form>
    </div>
    <script type="text/javascript" src="/js/changePassword.js"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"
  ></script>
  </body>
</html>
