<head>
  <link rel="stylesheet" href="css/profile.css" />
</head>

<div class="card">
  <div class="title">
    <h1>Tu perfil</h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1"
      stroke="currentColor"
      class="w-2 h-2 small-icon"
      id="logoutButton"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
      />
    </svg>

  </div>
  <div class="data_user">
    <p>Nombre de usuario: {{user.name}}</p>
    <p>ID: {{user.accountId}}</p>
    <p>Provider: <span class="provider">{{user.provider}}</span> </p>
    <p>Role: <span class="role">{{user.role}}</span></p>
    <div class="button-products">
      <button><a href="/products">Volver a Productos</a></button>
    </div>
  </div>
</div>
<script src="/js/logout.js"></script>