<head>
  <link rel="stylesheet" href="css/profile.css" />
</head>

<div class="card">
  <div class="title">
    <h1>Tu perfil</h1>
  </div>
  <div class="data_user">
    <p>Nombre de usuario: {{user.name}}</p>
    <p>ID: {{user.accountId}}</p>
    <p>Provider: <span class="provider">{{user.provider}}</span> </p>
    <p>Role: <span class="role">{{user.role}}</span></p>
    <button><a href="/products">Volver a Productos</a></button>
  </div>
</div>