<head>
  <link type="text/css" rel="stylesheet" href="css/register.css" />
</head>
<body>

  <div class="box">
    <div class="cajaregister">
      <h1>Registro</h1>
      <form class="formulario" id="registerForm">
        <label class="text-uppercase fw-medium">Nombre</label>
        <input name="first_name" placeholder="Nombre" required/>
        <label class="text-uppercase fw-medium">Apellido</label>
        <input name="last_name" placeholder="Apellido" required/>
        <label class="text-uppercase fw-medium">Email</label>
        <input name="email" placeholder="Email" required/>
        <label class="text-uppercase fw-medium">Edad</label>
        <input name="age" placeholder="Edad" required/>
        <label class="text-uppercase fw-medium">Contraseña</label>
        <input type="password" name="password" placeholder="Contraseña" required/>
        <input type="submit" value="Create" class="card-crear"  />
      </form>

      <div class="github_register"><a
          href="/api/session/github/callback"
          class="btn btn-primary"
        >Registrarse con GitHub</a></div>

      <p class="text-center">¿Ya tienes una cuenta?
        <a href="/login">Ingresa aquí</a></p></div>
  </div>

  <script src="/js/register.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"
  ></script>
</body>