<head>
  <link rel="stylesheet" href="css/restartUser.css" />
</head>

<div class="restart_box">
  <div class="restar_caja">
    <h3>Recupera tu cuenta</h3>
    <span>Introduce tu correo electrónico para buscar tu cuenta</span>
    <form id="restartPasswordForm">
      <input
        class="input_correo"
        type="email"
        placeholder="Correo Electrónico Gmail"
      />
      <div class="botones_restart">
        <a class="links cancelar" href="/login">Cancelar</a>
        <button class="links buscar" type="submit">Buscar</button>
      </div>
    </form>
  </div>

</div>

<script type="text/javascript" src="js/restartPassword.js"></script>